*{
    margin: 0; 
    padding: 0;
}
.backImg{
    width:100%;
    height:100vh;
    /* background-color:green; */
    background-image:url('./image.png/abc.png');
    /* background-repeat:no-repeat;
    background-repeat:repeat-x; */
    background-repeat:repeat-y;
    background-size:100% 100%;
    background-attachment:fixed;
}
.backImg1{
    width:100%;
    height:100vh;
    /* background-color:green; */
    background-image:url('./image.png/sikh.jpg');
    /* background-repeat:no-repeat;
    background-repeat:repeat-x; */
    background-repeat:repeat-y;
    background-size:100% 100%;
    background-attachment:fixed;
}
 
p{
    text-align:center;
}