.fcontainer{
    border:2px solid black;
    height:45vh;
    display:flex;
    /* (display flex property) */
    /* flex-direction:row; */
    /* flex-direction:column; */
    /* flex-direction:row-reverse; */
    /* flex-direction:column-reverse; */

    /* (justify flex property) */
    /* justify-content:flex-start; */
    /* justify-content:flex-end; */
    /* justify-content:center; */

    /* (align item center) */
    /* align-items:center; */
    /* align-items:flex-start; */
    /* align-items:flex-end; */

    /* (flex wrap property) */
    /* flex-wrap:wrap; */
    /* flex-wrap:wrap-reverse; */
    /* flex-flow:column; */
    /* flex-flow:wrap; */



}

.fitem{
    background-color:red;
    border:2px solid black;
    margin:12px;
    width:122px;
    height:122px;
}

.item1{
    order:3;
    /* flex-grow:3; */
    flex-shrink:2;
    align-self:center;
}

.item4{
    order:4;
    /* flex-grow:2; */
    

}